<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mobihelp.materialthemedemo1"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="22" />

    <!-- Needed only for email autocomplete to work, not mandatory for mobihelp -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <application
        android:name="com.example.mobihelp.materialthemedemo1.DemoApp"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.CustomMaterialTheme" >
        <activity
            android:name="com.example.mobihelp.materialthemedemo1.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>